.pending {
    border: 2px solid orange;
    color: orange;
}

.ready {
    border: 2px solid green;
    color: green;
}

.loading {
    border: 2px solid gray;
    color: gray;
}

.error {
    border: 2px solid red;
    color: red;
}
