.submitters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.logs {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;

    margin-top: 8px;
    padding: 8px;

    .log-entry {
        font-family: monospace;
        font-size: 0.9rem;
        margin: 0.2rem 0;
    }

}
